#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* useState :- */
.useState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.useState h2 {
  letter-spacing: 0.1rem;
}

.useState p {
  border: 1px solid #ddf2fd;
  width: 50%;
  padding: 0.2rem;
}

.useState div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
