@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap");

:root {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  font-size: large;

  color-scheme: light dark;
  color: #ffffdd;
  background-color: #427d9d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button {
  cursor: pointer;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background: #ff9209;
  color: white;
  font-weight: 500;
}
